* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

body {
    background: linear-gradient(to right, #ecfafa, #dbffff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

}

.container {
    display: flex;
    width: 50%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.26);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    width: 45%;
    padding: 2rem 1rem 1rem 1rem;
    color: white;
    background: linear-gradient(to right,#934ADD,#8425CB);
    border-radius: 30px 80px 80px 30px;
}
.sidebar p.greeting {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
}
.sidebar a {
    color: #A3CDF1;
}
.sidebar .info {
    margin-bottom: 4rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: 0 30px 30px 0;
}

.form-container h1{
    margin-bottom: 2rem;
}
input {
    width: 70%;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #ebfefe;
    border: 1px solid black;
}
.create-acc {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #8425CB;
    color: white;
}
input:focus {
    outline: none;
}